@CHARSET "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto Condensed', sans-serif;
	background: #E7E7E7;
}

.content-central {
	width: 1000px;
	height: 460px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;	
	text-align: left;
	
	position: relative;
}

.bg-bottom{
	width: 100%;
	height: auto;
	background: white;
}

.sub-title-bottom{
	font-family: 'Finger Paint', cursive;
	text-align: center;
	font-size: 19px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 19px;
	margin-top: 0;
	height: 40px;
	width: 140px;
	background-color: #E7E7E7;	
	padding: 0 7px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.sub-title-box,.pageID{
	font-family: 'Finger Paint', cursive;
	margin-bottom: 0;
}

.sub-title-box
{
	text-align: center;
	font-size: 19px;
}

.pageID{
	font-size: 22px;
}

.bg-white{
	background: white;
}

.content-bottom{
	width: 1000px;
	height: 456px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 19px;
}

.slideCycle{
	width: 955px;
	height: auto;
	float: left;
}
.slideCycle img
{
	float: left;
	width: 250px;
}

.footer{
	margin: 0 auto;
	width: 1000px;
	height: auto;
/* 	border: 1px solid red; */
	
	
}

.bt-slide{
	 background: url("images/spriteButtonSlide.png") no-repeat;
	 text-decoration: none;
	 height: 241px;
	 width: 31px;
	 z-index: 14;
	 position: absolute;
	 margin-top: 60px;
}

#prev, #next{
	float: left;
}

#prev{
	background-position: 0 0;
	margin-left: -30px;
}

#next{
	background-position: -30px 0;
	margin-right: -30px;
}

.content-info{
	width: 700px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* .img-desc{ */
/* 	float: left; */
/* 	width: 250px; */
/* } */

.box-shadow {
	-moz-box-shadow: 0 5px 10px #ccc;
	-webkit-box-shadow: 0 5px 10px #ccc;
	box-shadow: 0 5px 10px #ccc;
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
		direction=0, strength=1 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
		direction=45, strength=1 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
		direction=90, strength=2 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
		direction=135, strength=3 ), progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,
		direction=180, strength=10 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
		direction=225, strength=3 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
		direction=270, strength=2 ), progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,
		direction=315, strength=1 );
}

body:last-child .box-shadow {
	/* Remove filter from IE9 */
	filter: none;
}

.nav, .nav-min{
	background-color: #fff;
	width: 100%;
	position: fixed;
	z-index: 17;
	top: 0;
	left: 0;
}

.nav {
	height: 119px;
}

.nav-min{
	height: 80px;
}


.content-nav {
	width: 1000px;
	height: 117px;
	margin: 0 auto;
}

.logo {
	margin: 22px 8px 0 0;
	float: left;
	font: inherit;
	font-size: 21pt;
	height: 72px;
	width: 305px;
}

.fristWord{
	color: red;
	float: left;
	margin: 12px 8px 0 0;
}
.secondWord{
	color: #7F6280;
	float: left;
	margin: 12px 8px 0 0;
}
.logo-middle{
	float:left;
	height: 65px;
	width: 70px;
}

.menu,.menu-min,.menu-min li, .menu li{
	float: left;
}

.menu, .menu-min{
	height: 60px;
	width: auto; 
	margin: 28.5px 0 0 130px;
	text-align: center;
	padding: 17px 0 0 0;
}

.menu {
	margin: 28.5px 0 0 130px;
}

.menu-min{
	margin: 12px 0 0 130px;
}

.menu li,.menu-min li{
	list-style: none;
	padding: 5px 8px;
	margin-right: 12px;
}

.menu li a,.menu-min li a {
	text-decoration: none;
	color: black;
	padding: 5px 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.menu li a:HOVER,.menu-min li a:HOVER {
	background: #7F6280;
	color: white;
}

.box-inform{
	width: 996px;
	height: 290px;
	margin:  60px 0;
	text-align: center;
	position: absolute;
}

.inform
{
	text-align: left;
	line-height: 2em;
	text-indent: 4em;
	border: 1px solid #77929d;
	float: left;
	border-radius: 7px;
	padding: 20px 30px;
	width: auto;
	margin: 20px 15px;
	background: #d9e2e4;
	color: #1c3840;
}

.title-logo{
	text-align: center;
}

.title-soft,.sub-title,.title-min{
	margin-bottom: 15px;
}

.title-soft{
	font-family: 'Finger Paint', cursive;
	font-size: 47px;
}

.title-min{
	font-family: 'Finger Paint', cursive;
	font-size: 30px;	
}

.sub-title{
	font-size: 19px;
	text-align: center;
}

.about{
	text-align: center;
	width:640px;
	height: 256px;
	float: left;
	font-size: 20px;
	color: #8D898F; 
	margin: 25px 0;
	letter-spacing: 3px;
}

.content-slide
{
	padding: 51px 30px 10px 30px;
	
}

.content-box{
	float: left;
	width: 510px;
	height: 384px;
}

.box-info 
{
	font-size: 39px;
}

input[type=text],input[type=password], select {
	padding: 7px 10px;
	font-size: 16px;
	margin: 0 10px 10px 0;
}

input[type=submit],input[type=button],input[type=reset]
{
	border: none;
}

label{
	font-size: 19px;
	width: 100%;
	float: left;
	font-weight: normal;
}

.form,.form-group{
	width: 100%;
	height: auto;
}

.form-group label{
	width: auto;
	float: none;
}

.form-group{
	margin: 7px 0 0 0;
}

.slide-ico{ 
	float: left;
	margin: 46px 0 0 27px;
	width: 420px;
	height: 380px;
	border: 1px solid green;
}

.box-register{
	background-color: white;
	height: auto;
	width: 600px;
	margin: 0 auto;
	border-radius: 7px;
}

.box-register-header{
	text-align: center;
	margin: 6px 0 0 0;
	display: inline;
}

.form-components{
	margin: 10px auto;
	padding: 6px  12px;
}

.box-project{
	width: 500px;
	height: 440px;
	float: left;
}

.box-notice{
	width: 490px;
	height: 440px;
	float: left;
}

.gradientWhite{
	background: -webkit-linear-gradient(top, #fbfcfc 0%, #f0f2f3 100%);
	background: -moz-linear-gradient(top, #fbfcfc 0%, #f0f2f3 100%);
	background: -o-linear-gradient(top, #fbfcfc 0%, #f0f2f3 100%);
	background: -ms-linear-gradient(top, #fbfcfc 0%, #f0f2f3 100%);
	background: linear-gradient(top, #fbfcfc 0%, #f0f2f3 100%);
}
/*-----------------------------XXXXX-Projetos-XXXXX------------------------------- */
 
.project {
	border: 1px solid;
	border-color: #d9e1e5 #d6dee2 #c4ccd0;
	height: 70px;
}

.labelProject {;
	height: 70px;
	width: 230px;
	text-align: center;
	float: left;
}

.labelProject p {
	color: black;
	font-size: 16px;
}

.statusProject { /*border: 1px solid blue;*/
	height: 70px;
	width: 210px;
	float: left;
	font-size: 12px;
}

.statusProject ul {
	list-style: none;
}

.statusProject li {
	float: left;
	color: black;
	margin: 0 3px 0 0;
}

/*-----------------------------XXXXX-FIM Projetos-XXXXX------------------------------- */

/*-----------------------------XXXXX-Projeto-XXXXX------------------------------- */
.element {
	border: 1px solid;
	border-color: #d9e1e5 #d6dee2 #c4ccd0;
	height: 71px;
	width: 320px;
	border-radius: 5px;
	margin: 0 0 10px 0;
	margin: 0px 0 7px 30px;
}

.image, .image-box{
	height: 52px;
	width: 52px;
	float: left;
	
}
.image {
	
/* 	border: 1px solid #d9e1e5; */
	margin: 10px 10px 0 10px;
	background: url("images/icons/sprite_icons_item_status.png");
}

.image-box{
	border: 1px solid #d9e1e5;
	margin: 10px;
}

.labelItem {
	margin: 5.5px 0 0 0;
	font-size: 14px;
	float: left;
	width: 224px;
	height: 50px;
}

.actionItem {
	float: right;
	width: 24px;
	height: 24px;
	margin: 20px 0 0 0;
}

.manager-backlog {
	width: 410px;
	height: 575px;
	float: left;
	margin: 0 25px 0 0;
}

.intensProject {
	width: 410px;
	height: 486px;
	border: 1px solid;
	border-color: #d9e1e5 #d6dee2 #c4ccd0;
	border-radius: 4px;
	padding: 10px 0;
	margin-top: 2px;
}

.manager {
	width: 990px;
	margin: 12px 0 0 0;
	height: 580px;
	padding: 5px;
	margin-bottom: 8px;
}

.labelTop {
	height: 30px;
	width: 412px;
	background-color: #8B6C8F;
	color: #fff;
	text-align: center;
	font-size: 22px;
	padding: 19px 0;
}

.sprint {
	height: 575px;
	width: 410px;
	float: left;
}

.sprintItens {
	height: 486px;
	width: 410px;
	border: 1px solid;
	border-color: #d9e1e5 #d6dee2 #c4ccd0;
	border-radius: 4px;
}

.bannerInfo li {
	float: left;
	text-decoration: none;
	list-style: none;
	margin: 17px 0 4px 0;
	width: 100%;
	height: auto;
}

/*=============Butons===================*/

.bt {
	padding: 7px;
	margin: 10px auto;
	text-decoration: none;
	border-radius: 4px;
	color: white;
	background-color: #7F6280;
	letter-spacing: normal;
}

.bt-big{
	font-size: 25px;
	padding: 12px;
}

.bt-middle{
	font-size: 14px;
	padding: 10px;
}

.bt-big:HOVER{
	background: #9C919C;
}


.bt-orange {
	background: #ffa210;
}

.bt-orange:HOVER {
	background: #F5D4A2;
}

.bt-blue {
	background: #067db7;
}

/*============LightingBox=============*/
#mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #B3B3B3;
	opacity: 0.7;
}

.box {
	display: none;
	width: auto;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	background: #FFF;
	z-index: 9900;
	padding: 10px;
	border-radius: 4px;
}

/*=======================-Table-===========================*/

table {
	width: 455px;
	border-collapse: collapse;
	text-align: left;
	margin: 20px;
}

th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	border-bottom: 2px solid #6678b1;
	padding: 10px 8px;
}

td {
	padding: 11px 0 8px 0;
}


